 .whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: breathe 2s ease-in-out infinite;
    
  }
  
  .whatsapp-btn img {
    width: 50px;
    margin-right: 10px;
  }

  .whatsapp-btn img:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    }

    .boton {
      background-color: #3498db;   
      align-items: center;
      color: white;               
      padding: 12px 24px;        
      border: none;                
      border-radius: 8px;          
      font-size: 16px;             
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;             
      width: 350px;
      height: 100px;
      display: flex;
    }

    .boton:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}